<script>
	import { jobs } from '$lib/stores';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';
	import { tick } from 'svelte';

	let jobObj;
	let loading = true;
	let videoSrc = '';
	let video;

	onMount(async () => {
        // Fetch job from /jobs/id
        const res = await fetch(`/api/jobs/${$page.params.id}`);
        jobObj = await res.json();
        console.log(jobObj)
		if (jobObj) videoSrc = `/api/file/${jobObj.ID}`;
        console.log(videoSrc)
		loading = false;
	});

	function save() {
        // For each segment text, create a full string
        let fullText = '';
        for (let i = 0; i < jobObj.result.segments.length; i++) {
            fullText += jobObj.result.segments[i][2] + ' ';
        }
        // Remove last space
        fullText = fullText.slice(0, -1);
        // Update jobObj
        jobObj.result.text = fullText;
		fetch('/api/jobs/edit', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(jobObj)});
	}

	function seek(start) {
		video.currentTime = start;
		video.play();
	}
</script>

{#if loading}
	<h1>Loading...</h1>
{:else if !jobObj}
	<h1>Job not found</h1>
{:else}
	<h1 class="font-bold text-2xl text-center">Editing subtitles for {jobObj.file_name}</h1>
	<h2 class="font-bold text-xl text-center">Language: {jobObj.result.language}</h2>
    <div class="w-full flex items-center flex-col lg:px-8">
        <video bind:this={video} src={videoSrc} controls></video>
        <button class="btn btn-info my-2" on:click={save}>Apply changes</button>
        <table class="table w-full mt-3">
            <thead>
                <tr><th>Start</th><th>End</th><th>Subtitle</th></tr>
            </thead>
            <tbody>
                {#each jobObj.result.segments as [start, end, subtitle], i}
                    <tr on:click={() => seek(start)}>
                        <td><input class="input" type="number" bind:value={jobObj.result.segments[i][0]} min="0" step="0.1" /></td>
                        <td><input class="input" type="number" bind:value={jobObj.result.segments[i][1]} min="0" step="0.1" /></td>
                        <td><textarea class="textarea w-full" bind:value={jobObj.result.segments[i][2]}></textarea></td>
                    </tr>
                {/each}
            </tbody>
        </table>
    </div>
{/if}
