<script>
	import { timeAgo } from '$lib/utils.js';
    import { onMount } from 'svelte';
    import { jobs } from '$lib/stores';
    import { toast } from '@zerodevx/svelte-toast'


    let fileInput;
    let fetchingJobs = false;
    let selectedLanguage="en";
    let userPrompt="";
    let selectedMethod="faster-whisper";
    let selectedTask="transcribe";
    let inputSource="file";
    const languages = ["af", "am", "ar", "as", "az", "ba", "be", "bg", "bn", "bo", "br", "bs", "ca", "cs", "cy", "da", "de", "el", "en", "es", "et", "eu", "fa", "fi", "fo", "fr", "gl", "gu", "ha", "haw", "he", "hi", "hr", "ht", "hu", "hy", "id", "is", "it", "ja", "jw", "ka", "kk", "km", "kn", "ko", "la", "lb", "ln", "lo", "lt", "lv", "mg", "mi", "mk", "ml", "mn", "mr", "ms", "mt", "my", "ne", "nl", "nn", "no", "oc", "pa", "pl", "ps", "pt", "ro", "ru", "sa", "sd", "si", "sk", "sl", "sn", "so", "sq", "sr", "su", "sv", "sw", "ta", "te", "tg", "th", "tk", "tl", "tr", "tt", "uk", "ur", "uz", "vi", "yi", "yo", "zh"]
    
    let isRecording = false;
    let audioRecorded = false;
    let audioFilename = "";
    let mediaRecorder;
    let recordedChunks = [];
    async function startRecording() {
        recordedChunks = [];
        isRecording = true;
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });
        mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.ondataavailable = e => recordedChunks.push(e.data);
        mediaRecorder.start();
    }

    function stopRecording() {
        mediaRecorder.stop();
        isRecording = false;
        audioRecorded = true;
    }


    async function copyToClipboard(text) {
        navigator.clipboard.writeText(text);
        toast.push('Text copied to clipboard!')
    } 

    async function sendForm() {
        console.log("Form")
        const formData = new FormData();

        if (inputSource === "record") {
            let filename = audioFilename == "" ? "recording" : audioFilename.replace(/\s+/g, "_");
            formData.append("file", new Blob(recordedChunks), `${filename}.wav`);
        } else if (inputSource === "file") {
            formData.append("file", fileInput.files[0]);
        } else if (inputSource === "url") {
            console.log("Not implemented yet")
            return;
            //formData.append("url", fileInput.value);
        }
        formData.append("language", selectedLanguage);
        formData.append("prompt", userPrompt);
        formData.append("method", selectedMethod);
        formData.append("task", selectedTask);
        
        fetch("/api/asr", {method: "POST", body: formData});
        toast.push('New job created!')
        await fetchJobs();
    }
    
    async function removeJob(id) {
        const updatedJobs = $jobs.filter(job => job.ID !== id);
        jobs.set(updatedJobs);
        fetch(`/api/jobs/delete/${id}`, {method: "GET"});
    }

    const fetchJobs = async () => {
        const res = await fetch('/api/jobs');
        const data = await res.json();
        if (data) {
            jobs.set(data);
        }
    };

    const periodicFetchJobs = async () => {
        await fetchJobs();
        setTimeout(periodicFetchJobs, 10000);
    };

    onMount(() => {
        if (!fetchingJobs) {
            fetchingJobs = true;
            periodicFetchJobs();
        }
    });

    // Make jobs reactive
    $: jobs;
</script>

<header class="text-center py-4">
    <h1 class="font-bold text-3xl">Web Whisper+</h1>
    <h2 class="text-lg">AI transcription suite</h2>
</header>

<div class="flex flex-col items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <!--FORM-->
        <div class="w-full flex items-center justify-center">
            <section class="flex flex-col items-center my-12">
                <!--Source Chooser-->
                <div class="flex">
                    <div class="form-control">
                        <label class="label cursor-pointer flex flex-col">
                          <span class="label-text">File</span> 
                          <input bind:group={inputSource} value="file" type="radio" name="radio-10" class="radio checked:bg-red-500" />
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="label cursor-pointer flex flex-col">
                          <span class="label-text">Record</span> 
                          <input bind:group={inputSource} value="record" type="radio" name="radio-10" class="radio checked:bg-blue-500" />
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="label cursor-pointer flex flex-col">
                          <span class="label-text">URL</span> 
                          <input disabled bind:group={inputSource} value="url" type="radio" name="radio-10" class="radio checked:bg-blue-500" />
                        </label>
                    </div>
                </div>

                <!--File Source-->
                {#if inputSource == "file"}
                    <div class="max-w-lg text-center">
                        <h3 class="font-bold text-xl my-2">Choose a file to transcribe</h3>
                        <input bind:this={fileInput} type="file" class="file-input file-input-bordered file-input-primary w-full" />
                    </div>
                {/if}

                <!--Record Source-->
                {#if inputSource == "record"}
                    <div class="max-w-lg text-center">
                        <h3 class="font-bold text-xl my-2">Record an audio</h3>
                        <div class="flex flex-col justify-center items-center">
                        {#if !isRecording}
                            <div class="form-control w-full max-w-xs mb-2">
                                <label class="label">
                                <span class="label-text">Recording name</span>
                                </label>
                                <input type="text" bind:value={audioFilename} placeholder="Type here" class="input input-xs input-bordered w-full max-w-xs" />
                            </div>
                            <button class="btn btn-info" on:click={startRecording}>
                                {#if audioRecorded}
                                    Record Again
                                {:else}
                                    Record
                                {/if}
                            </button>
                        {:else}
                            <button class="btn btn-error" on:click={stopRecording}>Stop</button>
                        {/if}
                        </div>
                    </div>
                {/if}
            
                <div class="max-w-lg w-full text-center mt-8">
                    <h3 class="font-bold text-xl my-2">Configure whisper settings</h3>
                    <div class="form-control w-full">
                        <label class="label">
                          <span class="label-text">Method</span>
                        </label>
                        <select bind:value={selectedMethod} class="select select-bordered w-full">
                            <option value="faster-whisper">Faster Whisper</option>
                            <option value="openai-whisper">OpenAI Whisper</option>
                        </select>
                    </div>
            
                    <div class="form-control w-full">
                        <label class="label">
                          <span class="label-text">Task</span>
                        </label>
                        <select bind:value={selectedTask} class="select select-bordered w-full">
                            <option selected value="transcribe">Transcribe</option>
                            <option value="translate">Translate</option>
                        </select>
                    </div>
            
                    <div class="form-control w-full">
                        <label class="label">
                          <span class="label-text">Language</span>
                        </label>
                        <select bind:value={selectedLanguage} class="select select-bordered w-full">
                            <option value="" disabled selected>Select a language</option>
                            {#each languages as language}
                                <option value="{language}">{language}</option>
                            {/each}
                        </select>
                    </div>
            
                    <div class="form-control w-full">
                        <label class="label">
                          <span class="label-text">Initial prompt</span>
                        </label>
                        <input bind:value={userPrompt} type="text" placeholder="Type here" class="input input-bordered w-full" />
                        <label class="label">
                          <span class="label-text-alt text-opacity-70">This will be instructed to whisper, so it can produce better results.</span>
                        </label>
                    </div>
            
                    <button on:click={sendForm} class="btn mt-4 btn-info bg-opacity-80 hover:bg-opacity-100">Transcribe</button>
                </div>
            </section>
        </div>
        
        <!--JOBS-->
        <section class="flex w-full flex-col justify-center items-center mb-24">
            <div>
                <h2 class="text-2xl font-bold text-center mb-4">Jobs</h2>
                <div class="w-full">
                    <table class="table">
                      <!-- head -->
                      <thead>
                        <tr>
                          <th></th>
                          <th>Status</th>
                          <th>Filename</th>
                          <th>Language</th>
                          <th>Date</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {#each $jobs as job (job.ID)}
                            <tr class="text-center text-md">
                                <th>{job.ID}</th>
                                <td> 
                                    {#if job.job_status == "0"}
                                        <img src="/images/loading.svg" class="w-8 h-8" alt="">
                                    {:else if job.job_status == "1"}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                                        </svg>
                                    {:else if job.job_status == "2"}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-error" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-6.489 5.8a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" stroke-width="0" fill="currentColor"></path>
                                        </svg>
                                    {/if}
                                </td>
                                <td>{job.file_name}</td>
                                <td>{job.language}</td>
                                <td>{timeAgo(job.UpdatedAt)}</td>
                                <td class="flex flex-wrap items-center justify-center align-middle space-x-1 space-y-1">
                                    {#if job.job_status == "1"}
                                        <a href="/api/subtitles/{job.ID}" class="btn btn-xs btn-info">Get .srt</a>

                                        <!--TODO: Implement Autodubbing-->
                                        <span class="btn btn-disabled hidden btn-xs btn-primary">Dub</span>

                                        <a href="/edit/{job.ID}" class="btn btn-xs btn-primary">Edit Subtitles</a>
                                        <span on:keyup={copyToClipboard(job.result.text)} on:click={copyToClipboard(job.result.text)} class="btn btn-xs btn-primary">Copy All Text</span>
                                        <span on:keyup={() => removeJob(job.ID)} on:click={() => removeJob(job.ID)} class="btn btn-xs btn-error font-bold text-black">X</span>
                                    {:else if job.job_status == "2"}
                                        <span class="badge badge-error">Failed</span>
                                        <span on:keyup={() => removeJob(job.ID)} on:click={() => removeJob(job.ID)} class="btn btn-xs btn-error font-bold text-black">X</span>
                                    {:else}
                                        <span class="badge badge-info">Waiting...</span>
                                    {/if}
                                </td>
                            </tr>
                        {/each}
                      </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>